.team-member-img{
    width:100px;
    height: 100px;
    display:block;
    margin: auto;
}
.logo-png{
    height: 50px;
    padding-left: 16px;
}
.w3-card{
    padding-top: 20px;
}
.w3-name{
   text-align: center; 
}
.w3-opacity{
    text-align: center; 
}
.w3-para{
    text-align: justify;
}
.warning-msg{
    font-size: small;
    color:darkred;
}